.picture {
    display: flex;
    flex-direction: column;
    border: 1px dashed gray;
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
    background-color: white;
    cursor: move;
    opacity: 1;
}


.picture--is-dragging {
    opacity: 0
}